.flag {
  width: 640px;
  height: 360px;
  background-color: aliceblue;
}

.border-black {
  border: 1px solid black;
}

.bandera-venezuela {
  background: yellow;
  background: linear-gradient(
    180deg,
    yellow 0%,
    yellow 33%,
    blue 33%,
    blue 66%,
    red 66%,
    red 100%
  );
}

.cameru {
}
